// Edited for Horizon Theme

.home-hero {
  position: relative;

  .home-info-container {
      text-align: center;
      bottom: $sc-margin-lv3;
      @media (min-width: $screen-desktop) {
          width: $sc-hero-content-width;
          left: 0;
      }
      @media (min-width: $screen-xs-min) {
          bottom: $sc-margin-lv2;
      }
  }
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Only used for Horizon Theme default setup
  Can be removed if images sourced from Home config */
  background-image: url(getThemeAssetsPath('img/horizon-hero.jpg'));
}

.home-announcement {
  background-color: $sc-home-announcement-background-color;
  color: $sc-home-announcement-text-color;
  text-align: center;
  font-size: $sc-home-announcement-text-size-mobile;
  padding: $sc-padding-lv4 0;
  text-transform: uppercase;
  & p,
  & h1,
  & h2,
  & h3,
  & ul li {
      color: $sc-home-announcement-text-color;
  }
  @media (min-width: $screen-desktop) {
      font-size: $sc-home-announcement-text-size-desktop;
      padding: $sc-padding-lv5 0;
  }
}

.home-info-container {
  position: absolute;
  bottom: $sc-margin-lv2;
  background: $sc-home-cta-background-color;
  text-align: center;
  width: calc(100% - #{$sc-margin-lv2});
  left: 0;
  right: 0;
  margin: 0 auto;
  @media (min-width: $screen-desktop) {
      min-width: $sc-home-cta-width;
      width: auto;
      bottom: $sc-margin-lv3;
      text-align: left;
      left: auto;
      right: 0;
  }

  .home-info {
      padding: 0.7rem 1rem;
  }
}

.home-info-title {
  font-size: $sc-home-cta-title-size-mobile;
  text-transform: uppercase;
  color: $sc-home-cta-title-color;
  font-weight: normal;
  @media (min-width: $screen-desktop) {
      font-size: $sc-home-cta-title-size;
  }
}

.home-info-text {
  display: none;
  @media (min-width: $screen-sm-min) {
      color: $sc-home-cta-text-color;
      display: block;
  }
}

.home-info-linktext {
  text-transform: uppercase;
  color: $sc-home-cta-link-color;
}

.home-banner-customer-segment,
.home-banner-first {
  position: relative;
  margin-bottom: -4px;
  height: 100%;
}


/* INFOBLOCKS */
.home-infoblock-layout {
  @extend .row;
  margin-left: 0;
  margin-right: 0;

  .home-infoblock {
      @extend .col-xs-12;
      @extend .col-sm-6;
      height: $sc-infoblock-height-mobile;

      display: table;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
          cursor: pointer;
      }

      @media (min-width: $screen-md-min) {
          height: $sc-infoblock-height-desktop;
          height: 30vw;
      }
  }

  .home-infoblock:not(.home-infoblock0):not(.home-infoblock1) {
      @extend .col-xs-12;
      height: $sc-infoblock-height-mobile;

      padding-left: 0;
      padding-right: 0;

      @media (min-width: $screen-md-min) {
          height: $sc-infoblock-height-desktop;
          height: 30vw;
      }
  }

  .home-infoblock-content {
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: $sc-margin-lv2;
      @media (min-width: $screen-md-min) {
          padding-bottom: $sc-margin-lv4 * 3;
      }
  }

  .home-infoblock-info {
      background: $sc-home-cta-background-color;
      padding: 0.7rem 1rem;
      text-align: center;
      margin: 0 20px;
      @media (min-width: $screen-desktop) {
          min-width: $sc-home-cta-width;
          width: auto;
          float: right;
          text-align: left;
          margin: 0;
      }
  }

  .home-infoblock-link {
      &:hover .home-infoblock-title,
      &:active .home-infoblock-title,
      &:focus .home-infoblock-title,
      &:hover .home-infoblock-text,
      &:active .home-infoblock-text,
      &:focus .home-infoblock-text {
          color: $sc-color-link;
      }
  }
}
/* END INFOBLOCKS */


/* CAROUSEL */
.home-slider-container {
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

.home-image-slider {
  @extend .col-sm-12;
  padding: 0;
  margin: 0;

  & .bx-pager-item {
    vertical-align: middle;
  }

  & .bx-controls,
  & .bx-controls .bx-pager {
    margin: 0;
  }

  & .bx-viewport {
      margin-bottom: -5px;
  }

  & .bx-viewport ul li {
    overflow:hidden;
  }

  & .bx-wrapper img {
    margin: auto 0;
  }

  & .bx-wrapper {
      @media (min-width: $screen-md-min) {
          margin-bottom: 0;
      }
  }

  & .bx-pager {
      width: 100%;
      display: none;

      @media (min-width: $screen-md-min) {
          position: absolute !important;
          bottom: $sc-margin-lv2;
          text-align: center;
          display: block;
      }

      a {
          color: $sc-home-carousel-icons-color !important;
          background-color: $sc-home-carousel-icons-color !important;
          width: 10px !important;
          height: 10px !important;
          border-radius: 100% !important;
          font-size: 0;
          text-indent: -9999px;
      }

      a.active {
          background-color: $sc-home-carousel-icons-color;
      }
  }

  /* Title & Text Area */
  .home-info-container {
      position: relative;
      bottom: $sc-margin-base;
      width: 100%;
      @media (min-width: $screen-sm-min) {
          position: absolute;
          bottom: $sc-margin-lv3;
          width: auto;
          text-align: center;
          left: 0;
          margin: 0 auto;
          width: $sc-carousel-content-width;
          bottom: 43%;
          & h2 {
              font-size: $sc-carousel-title-size;
          }
      }
  }
}

.home-slide-main-container{
    overflow:hidden;
    text-align:center;
    color: transparent; //odd bug fix
}

.home-slider-container {
    .home-gallery-prev-icon,
    .home-gallery-next-icon {
        display: none;
        color: $sc-home-carousel-icons-color;

        @media (min-width: $screen-sm-min) {
            display: $sc-home-carousel-icons-display;
        }
    }
}

.home-gallery-next-icon,
.home-gallery-prev-icon {
    position: absolute;
    top: 25%;
    width: $sc-target-size-mobile;
    height: $sc-target-size-mobile;
    font-size: 35px;
    color: $sc-color-theme-700;
    background-color: transparentize($sc-color-tertiary, 0.3);
    line-height: 1;
    text-align: center;
    @media (min-width: $screen-sm-min) {
        top: 50%;
    }
}

.home-gallery-prev-icon {
    @extend .icon-angle-left;
    left: 0;
}

.home-gallery-next-icon {
    @extend .icon-angle-right;
    right: 0;
}

.home-slider-backup-image {
    visibility: hidden;
    height: 200px;
    @media (min-width: $screen-md-min) {
        height: 400px;
    }
}
/* END CAROUSEL */

.home-merchandizing-zone {
& .cms-content-text h1,
& .cms-content-text h2,
& .cms-content-text h3,
& .cms-content-text h4,
& .cms-content-text h5,
& .cms-content-text h6 {
  // center titles on the home page only
  text-align: center;
}
}

